*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --bg-color1: #0d0d0d;
  --bg-color3: #1c1c1ca8;
  --bg-color2: #191717ba;
  --bg-color4: #302f2f3d;
  --bg-color-btn1: rgba(206, 34, 34, 0.935);
  --bg-color-btn2: rgba(6, 183, 6, 0.959);
  --text-color: #e9e7e7;

  --padding-xs: 2px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-2xl: 40px;
  --padding-nav: 20px 35px;

  --border-radius-xs: 2px;
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 30px;
}

main {
  min-height: 100vh; width: 100vw;
  background-color: var(--bg-color1);
  color: var(--text-color);
  display: flex; flex-direction: column;
}

nav {
  padding: var(--padding-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-color1);
}

nav button {
  border: none; outline: none;
  padding: var(--padding-sm) var(--padding-lg);
  border-radius: var(--border-radius-md);
  background-color: var(--bg-color-btn2);
  color: var(--text-color);
  cursor: pointer;
}

section {
  display: flex; flex-grow: 1;
  justify-content: space-between;
  gap: var(--padding-2xl);
  padding: var(--padding-xl) var(--padding-2xl);
}

section .task-col {
  background-color: var();
  flex-grow: 1;
  border-radius: var(--border-radius-xl);
  display: flex; flex-direction: column;
  gap: var(--padding-sm);
  background-color: var(--bg-color2);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 30%;
}

section .task-col.hover-over {
  border: 2px solid var(--text-color);
  scale: 1.05;
}

.task-col .heading {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-md) var(--padding-xl);
}

.task-col .task {
  background-color: var(--bg-color3);
  border-radius: var(--border-radius-md);
  padding: var(--padding-md) var(--padding-lg);
  display: flex; flex-direction: column;
  gap: var(--padding-sm);
  cursor: grab;
}

.task button{
  align-self: flex-end;
  border: none; outline: none;
  background-color: var(--bg-color-btn1);
  color: var(--text-color);
  padding: var(--padding-xs) var(--padding-md);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.modal {
  position: fixed;
  height: 100vh; width: 100vw;
  display: none;
}

.modal.active { display: block;}

.modal .bg {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: var(--bg-color4);
  backdrop-filter: blur(5px);
}

.modal .center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);
  padding: var(--padding-nav);
  background-color: var(--bg-color1);
  border-radius: var(--border-radius-xl);
}

.modal .center input {
  border: none; outline: none;
  padding: var(--padding-md) var(--padding-lg);
  background-color: var(--bg-color3);
  border-radius: var(--border-radius-lg);
  color: var(--text-color);
}

.modal .center textarea {
  border: none; outline: none;
  padding: var(--padding-md) var(--padding-lg);
  background-color: var(--bg-color3);
  border-radius: var(--border-radius-lg);
  color: var(--text-color);
}

.modal .center button {
  border: none; outline: none;
  padding: var(--padding-md) var(--padding-lg);
  background-color: var(--bg-color2);
  border-radius: var(--border-radius-lg);
  color: var(--text-color);
  cursor: pointer;
}
